#header {
	position: fixed; top: 0; right: 0; left: 0; padding: 0 30px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: transparent; z-index: 10; backdrop-filter: grayscale(1) blur(3px);
	a {font-weight: 400;}
	.d-flex {height: 60px;}
	#menu-nav {
		display: flex; align-items: center; justify-content: center; gap: 40px;
	}
	#logo {
		position: relative;
		a {
			position: absolute; bottom: 100%; display: inline-block; font-size: .8em; letter-spacing: 0; white-space: nowrap;
			span {display: block;}
			.big {font-size: 2.03em; font-weight: 700; line-height: 1em; letter-spacing: .1em;}
		}
	}
	&.lined {background: rgba(#fff,.95); border-bottom-color: #000;}
	&.scrolled {
		#logo a {bottom: 7px;}
	}
}